@charset "UTF-8";
.calculation {
  width: 1010px;
  font-size: 12px;
  /* Firefox */
}
.calculation .page-title {
  font-size: 1rem;
  font-weight: bold;
}
.calculation .table th {
  border-bottom: 0;
  background: var(--light);
}
.calculation .table th, .calculation .table td {
  padding: 5px;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}
.calculation .table tbody th, .calculation .table tbody td {
  height: 37px;
}
.calculation .table .no-data {
  height: 50px;
}
.calculation .table .total th, .calculation .table .total td {
  background: var(--light);
  font-weight: bold;
}
.calculation .table a {
  color: #444;
  text-decoration: underline;
}
.calculation .table .material-icons {
  font-size: 1.2rem;
}
.calculation .table tr.except td {
  text-decoration: line-through;
}
.calculation .table tr.except td:nth-of-type(1) {
  text-decoration: none;
}
.calculation .table tr.except td:nth-of-type(2) {
  text-decoration: none;
}
.calculation ::placeholder {
  color: #ccc;
}
.calculation .form-control,
.calculation .btn-sm {
  font-size: 11px;
}
.calculation .page-link {
  color: var(--secondary) !important;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  height: 100%;
  min-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculation input::-webkit-outer-spin-button,
.calculation input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculation input[type=number] {
  -moz-appearance: textfield;
}
.calculation .diff-data .autocomplete .datareset {
  display: none;
}
.calculation .diff-data .autocomplete.has-reset-btn .datareset {
  display: block;
}
.calculation .diff-data .form-control:not(.diff-type):not(.coupon-no):not(.approved-no) {
  width: 200px;
}
.calculation .adjust-data th, .calculation .adjust-data td {
  text-align: left;
}
.calculation .adjust-data .change-price,
.calculation .adjust-data .change-month {
  display: none;
}
.calculation .calculation-table tbody tr:hover .title,
.calculation .calculation-table tbody tr:hover .status {
  background-color: white;
}

.calculation-modal {
  font-size: 12px;
  font-family: verdana, Gulim;
  /* Firefox */
}
.calculation-modal .modal-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0;
  background: var(--light);
}
.calculation-modal .modal-header .modal-title {
  font-size: 12px;
  font-weight: bold;
}
.calculation-modal .modal-header .close {
  font-size: 14px;
}
.calculation-modal .custom-file-label:after {
  content: "파일 선택";
}
.calculation-modal .table-responsive {
  max-height: 400px;
}
.calculation-modal .table th {
  border-bottom: 0;
  background: var(--light);
}
.calculation-modal .table th, .calculation-modal .table td {
  height: 30px;
  padding: 5px;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}
.calculation-modal .table td {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
.calculation-modal .table .no-data {
  height: 50px;
}
.calculation-modal .form-control,
.calculation-modal .btn {
  font-size: 11px !important;
}
.calculation-modal .no-data {
  height: 50px;
}
.calculation-modal a:not(.btn) {
  text-decoration: underline;
}
.calculation-modal input::-webkit-outer-spin-button,
.calculation-modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculation-modal input[type=number] {
  -moz-appearance: textfield;
}

#adjust-data-history.modal .table .selected td {
  background-color: rgba(0, 0, 0, 0.075);
}
#adjust-data-history.modal .table .except td {
  text-decoration: line-through;
}
#adjust-data-history.modal .table .except td:nth-of-type(1),
#adjust-data-history.modal .table .except td:nth-of-type(2),
#adjust-data-history.modal .table .except td:nth-of-type(3),
#adjust-data-history.modal .table .except td:nth-of-type(4),
#adjust-data-history.modal .table .except td:nth-of-type(5) {
  text-decoration: none;
}

/*# sourceMappingURL=calculation.css.map */
