.calculation {
    width: 1010px;
    font-size: 12px;
    .page-title {
        font-size: 1rem;
        font-weight: bold;
    }
    .table {
        th {
            border-bottom: 0;
            background: var(--light);
        }
        th, td {
            padding: 5px;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
        }
        tbody {
            th, td {
                height: 37px;
            }
        }
        .no-data {
            height: 50px;
        }
        .total {
            th, td {
                background: var(--light);
                font-weight: bold;
            }
        }
        a {
            color: #444;
            text-decoration: underline;
        }
        .material-icons {
            font-size: 1.2rem;
        }
        tr.except {
            td {
                text-decoration: line-through;
                &:nth-of-type(1) {
                    text-decoration: none;
                }
                &:nth-of-type(2) {
                    text-decoration: none;
                }
            }
        }
    }
    ::placeholder {
        color: #ccc;
    }
    .form-control, 
    .btn-sm {
        font-size: 11px;
    }
    .page-link {
        color: var(--secondary) !important;
        padding-left: .1rem;
        padding-right: .1rem;
        height: 100%;
        min-width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    // 차이데이터 영역
    .diff-data {
        .autocomplete {
            // .datainput + .datareset {
            //     display: none;
            // }
            // .datainput:invalid {
            //     border-color: skyblue;
            // }
            // .datainput:read-only {
            //     border-width: 2px;
            // }
            // 
            // .datainput:read-only + .datareset {
            //     display: block;
            // }
            .datareset {
                display: none;
            }
            &.has-reset-btn {
                .datareset {
                    display: block;
                }
            }
        }
        .form-control:not(.diff-type):not(.coupon-no):not(.approved-no) {
            width: 200px;
        }
    }

    .adjust-data {
        th, td {
            text-align: left;
        }
        .change-price,
        .change-month {
            display: none;
        }
    }

    .calculation-table {
        tbody {
            tr:hover {
                .title,
                .status {
                    background-color: white;
                }
            }
        }
    }
}

.calculation-modal {
    font-size: 12px;
    font-family: verdana,Gulim;
    .modal-header {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 0;
        background: var(--light);
        .modal-title {
            font-size: 12px;
            font-weight: bold;
        }
        .close {
            font-size: 14px;
        }
    }
    .custom-file-label {
        &:after {
            content: '파일 선택'
        }
    }
    .table-responsive {
        max-height: 400px;
    }
    .table {
        th {
            border-bottom: 0;
            background: var(--light);
        }
        th, td {
            height: 30px;
            padding: 5px;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
        }
        td {
            word-break: break-word!important;
            overflow-wrap: break-word!important;
        }
        .no-data {
            height: 50px;
        }
    }
    .form-control,
    .btn {
        font-size: 11px!important;
    }
    .no-data {
        height: 50px;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

#adjust-data-history.modal {
    .table {
        .selected {
            td {
                background-color: rgba(0, 0, 0, .075)
            }
        }
        .except {
            td {
                text-decoration: line-through;
            }
            td:nth-of-type(1),
            td:nth-of-type(2),
            td:nth-of-type(3),
            td:nth-of-type(4),
            td:nth-of-type(5) {
                text-decoration: none;
            }
        }
    }
}