.lguplus {
    width: 1010px;
    font-size: 12px;
    .nav-link {
        font-weight: bold;
        color: var(--secondary);
        &.active {
            color: #000;
        }
    }
    .form-control-sm,
    .btn-sm {
        font-size: 11px;
    }
    .table {
        th {
            border-bottom: 0;
            background: var(--light);
        }
        th, td {
            padding: 5px;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
        }
        tbody {
            th, td {
                height: 37px;
            }
        }
        .no-data {
            height: 50px;
        }
        .total {
            th, td {
                background: var(--light);
            }
        }
    }
    .search {
        height: 26px;
        .form-control {
            width: 120px;
        }
    }
    ::placeholder {
        color: #ccc;
    }
}

.lguplus-modal {
    font-size: 12px;
    font-family: verdana,Gulim;
    .modal-header {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 0;
        background: var(--light);
        .modal-title {
            font-size: 12px;
            font-weight: bold;
        }
        .close {
            font-size: 14px;
        }
    }
    .custom-file-label {
        &:after {
            content: '파일 선택'
        }
    }
    .table-responsive {
        max-height: 400px;
    }
    .table {
        th {
            border-bottom: 0;
            background: var(--light);
        }
        th, td {
            height: 30px;
            padding: 5px;
            font-size: 11px;
            text-align: center;
            vertical-align: middle;
        }
        .no-data {
            height: 50px;
        }
    }
    .form-control,
    .btn {
        font-size: 11px!important;
    }
    .no-data {
        height: 50px;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
}